@import url('./tour.min.css');
@import url('./root.css');
@import url('./button.css');
@import url('./input.css');
@import url('./modal.css');
@import url('./long_term_goals.css');
@import url('./toast_popup.css');
@import url('./confirmation_modal.css');
@import url('./focus_verify_modal.css');

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
}

.container > img {
  width: 28dvw;
  height: auto;
  object-fit: cover;
  padding: 1rem 0;
}

.container > p {
  font-size: 20px;
  font-weight: 600;
}

.focusTitleWrapper {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}

.focusTitleWrapper > h1 {
  text-align: center;
}

.focusTitleWrapper > h3 {
  text-transform: capitalize;
  text-align: center;
}

#progressWrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#progressWrapper > a {
  margin-top: 1rem;
}

#focusTipWrapper {
  width: 80dvw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: chocolate;
  text-align: justify;
}

.tipText {
  font-size: 14px;
  width: 100%;
  margin: 0;
  text-align: justify;
}

#showFocusTip {
  text-decoration: underline;
  cursor: pointer;
}

.centeredText {
  text-align: center;
  width: 100% !important;
}

#privacyContainer {
  width: 100%;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.privacyNotice {
  width: 75%;
  font-size: 16px;
  text-align: justify;
  background-color: lightgray;
  padding: 15px;
  border-radius: 10px;
}

.privacyNoticeContentArrow {
  width: 0;
  height: 0;
  border-top: 10px solid lightgray;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.hide {
  display: none;
}

#privacyContainer button {
  width: fit-content;
  padding: 6px 20px;
  font-family: fenwick, sans-serif;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  background-color: lightgray;
}

#privacyContainer button:hover {
  background-color: gray;
  color: white;
}

.cuddlyBearBtn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-decoration: none;
  vertical-align: middle;
}

a#save_page_url_btn {
  margin: 0;
  padding: 1rem;
  text-align: center;
}

a#originalUrl {
  text-align: center;
}

.supper-distraction-wrapper {
  display: flex;
  gap: 4px;
}

@media only screen and (max-width: 1024px) {
  .privacyNotice {
    font-size: 17px;
  }
  .focusTitleWrapper > h1 {
    font-size: 1.5rem;
  }
  .container > img {
    width: 70dvw;
  }
  #progressWrapper > h2 {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .privacyNotice {
    font-size: 17px;
  }
  .focusTitleWrapper > h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1280px) {
  .privacyNotice {
    font-size: 18px;
  }
  .focusTitleWrapper > h1 {
    font-size: 2.1rem;
  }
}

@media only screen and (min-width: 1366px) {
  .privacyNotice {
    font-size: 20px;
  }
  .focusTitleWrapper > h1 {
    font-size: 2.2rem;
  }
}
