@font-face {
  font-family: 'Fenwick';
  src: url('../fonts/Fenwick.ttf') format('truetype');
}

@font-face {
  font-family: 'Open24Display';
  src: url('../fonts/Open24DisplaySt.ttf') format('truetype');
}

@font-face {
  font-family: 'SegoeUI';
  src: url('../fonts/Segoe_UI.TTF') format('truetype');
}

@font-face {
  font-family: 'SanFrancisco';
  src: url('../fonts/SFUIDisplay.otf') format('opentype');
}

@font-face {
  font-family: 'OpenDyslexic';
  src: url('../fonts/OpenDyslexic.otf') format('opentype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto.ttf') format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial.ttf') format('truetype');
}

@font-face {
  font-family: 'ComicSans';
  src: url('../fonts/ComicSans.TTF') format('truetype');
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/Verdana.ttf') format('truetype');
}

@font-face {
  font-family: 'Tahoma';
  src: url('../fonts/Tahoma.ttf') format('truetype');
}

@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf') format('truetype');
}

@font-face {
  font-family: 'IntelOneMono';
  src: url('../fonts/Intelone-mono.ttf') format('truetype');
}

@font-face {
  font-family: 'CenturyGothic';
  src: url('../fonts/CenturyGothic.TTF') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins.otf') format('opentype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #ffffff;
  --gray_300: #e2e8f0;
  --gray_500: #64748b;
  --gray_700: #4a5568;
  --sunRayFirst: #e9902c;
  --sunRaySecond: #f3a650;
  --sunRayThird: #fab363;
  --sunRayFourth: #ffc88b;
  --sunRayFifth: #ffe4c6;
  --sunRaySixth: #fff4e9;
  --whiteLaceFirst: #fffcf6;
  --whiteLaceSecond: #d5c1a9;
  --whiteLaceThird: #e3d5c3;
  --whiteLaceFourth: #f1e9dd;
  --whiteLaceFifth: #f8f3ea;
  --whiteLaceSixth: #fcf8f0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2rem 1rem;
  background-color: var(--sunRaySixth);
}
